.hobbies__title {
  text-align: center;
  font: var(--font-title);
  margin: 32px 0px;
}

.hobbies__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.hobbies__item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--background-main-color);
  box-shadow: 1px 1px 3px #64748b47;
  border-radius: 6px;
  width: calc(50% - 1rem);
  height: 20vh;
  font-weight: 700;
}

.hobbies__item:hover {
  box-shadow: 0px 0px 5px var(--main-color);
  transition: all 300ms;
  transform: scale(1.05);
}

@media screen and (min-width: 768px) {
  .hobbies__item {
    width: calc(33.33% - 1rem);
  }
}

@media screen and (min-width: 992px) {
  .hobbies__item {
    width: calc(16.66% - 1rem);
  }
}
